{% extends 'base.html' %}
{% load static %}

{% block title %}BOOK{% endblock title %}
    
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/Book.css' %}" /> 
{% endblock extra_css %}

{% block content %}

    {% if book %}
        <div>
            <p><strong>Book ID :</strong>{{ book.id }}</p>
            <p><strong>Book Title :</strong>{{ book.title }}</p>
            <p><strong>Book Author :</strong>{{ book.author }}</p>
            <p><strong>Book Genre :</strong>{{ book.genre }}</p>
            <p><strong>Publish Year:</strong>{{ book.year }}</p>
            <p><strong>Description :</strong>{{ book.description }}</p>
        </div>
    {% else %}
        <div class="not-found">
            <h1>404 !</h1>
            <br>
            <p>Book Not Found</p>
            <a href="{% url 'home' %}"> <--Back To Home</a>
        </div>
    {% endif %}

{% endblock content %}