{% extends 'base.html' %}
{% block title %}Home Page{% endblock title %}
{%block content %}

<style>
    .HEADING{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        justify-content: center;
        background-color: lightblue;
    }
</style>
    <div class="HEADING">
        <h1>LIBRARY MANAGEMNET SYSTEM</h1>
    </div>
    {% for book in books %}
        <div>
            <a href="{% url 'details' book.id %}">{{ book.title }}</a>
        </div>
    {% endfor %}

{% endblock content %}
