{% extends 'base.html' %} {% load static %}

{% block title %}Home Page{% endblock title %} {% block content %}

<div class="HEADING">
  <h1>E-LIBRARY</h1>
</div>

<div class="main-container">
  {% if message %}
  <div class="message-container">
    <p
      style="
        color: red;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
      "
    >
      {{ message }}
    </p>
  </div>
  {% endif %}
  <div class="book-grid">
    {% for book in books %}
    <a
      href="{% url 'details' book.id %}"
      class="book-card {% if forloop.counter > 10 %}hidden-book{% endif %}"
    >
      <img
        src="{% static 'image/book_' %}{{ book.id }}.jpg"
        alt="{{ book.title }}"
      />

      <div class="book-title">{{ book.title }}</div>
    </a>
    {% endfor %}
  </div>

  <div style="text-align: center; margin: 30px 0" class="Explore">
    <a
      href="{% url 'all_books' %}">
      Explore More Books
    </a>
  </div>
</div>

{% endblock content %}
