.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    gap: 30px;
    button{
        border: none;
        border-radius: 20px;
        padding: 10px 20px ;
        color: white;
        background-color: red;
        margin-bottom: 10px;
    }
}

